*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #23252C;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  overflow: hidden;
  width: 400px;
  background-color: #1A1B21;
  margin-top: 2em;
}

.info,
.about,
.interests{
    padding: .7em 2em;
}

.info{
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
}

.info-pic{
  width: 400px;
  margin-bottom: .5em;
}

.info-title{
  color: #F3BF99;
  font-size: 1.2em;
}

.info-buttons{
  display: flex;
  gap: 0.5em;
  padding-top: .7em;
  padding-bottom: 1em;
}

.info-buttons button{
  width: 130px;
  border-radius: .5em;
  padding-block: .5em;
  font-size: 1.2em;
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: .3em;
}

.info-buttons button:hover,
.info-buttons button:focus{
  background-color: #F3BF99;
  color: #23252C;
  cursor: pointer;
}

.info-buttons button img{
  width: 20px;
}

a{
  text-decoration: none;
  color: inherit;
}

.about{
  padding-bottom: 1em;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1em;
  padding-block: 1em;
  margin-top: 1em;
  background-color: #161619;
}

svg{
  width: 40px;
  height: 40px;
  transition: ease-in-out .2s;
}

svg:hover{
  transition: ease-in-out .2s;
  transform: scale(1.2);
}

@media (max-width: 450px){
  #root{
    width: 300px;
  }

  .info-pic{
    width: 300px;
  }
}